# Version files
AssemblyInfoEx.cs
AssemblyInfoEx.cpp

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Directories usually generated at compiletime
Packages/
node_modules/

obj/
bin/
lib/
bin64/
bindebug64/
bindebug/
lib64/
libdebug64/
libdebug/
object/
/Help/

# Javascript etc files
*.jsb3
*-all*.js*

# Special directories and files created during compile during compile

# Files generated during *.idl processing
*_h.h
*_i.h
*_i.c
*_tlb.h
*.tlb
ntservmsg.*

.vs/

# Other files to ignore
nuget*.log

